<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: nav-bar"></nav>

<div class="container">
	<h3>Main Dashboard</h3>
	
		<hr>
		<h4> Current Projects</h4>
		<div class="row">
			<div class="col-md-6">
			
			<table class="styled-table">
				<thead class="thead-dark">
					<tr> 
						<th>Project Name</th>
						<th>Project Stage</th>
					</tr>	
				</thead>
				<tbody>
					<tr th:each="aProject : ${projects}">
						<td th:text="${aProject.name}">
						<td th:text="${aProject.state}">
					</tr>
				</tbody>	
			
			</table>
			
			</div>
			
			<div class="col-md-4">
						<canvas id="myPieChart" height="50" width="50" style="position: relative; left:150px"></canvas>
						
						<script>
							var chartData = "[[${projectStatusCnt}]]"
						</script>
			</div>
			</div>
	</div>	
	
	<div class="container">
		<h4> Current Employees</h4>
			<div class="row">
				<div class="col-md-6">
					<table class="styled-table">
						<thead class="thead-dark">
							<tr> 
								<th>First name</th>
								<th>Last name</th>
								<th>Project Count</th>
							</tr>	
						</thead>
						<tbody>
							<tr th:each="anEmployeeProjectCount : ${employeesListProjectsCnt}">
								<td th:text="${anEmployeeProjectCount.firstName}">
								<td th:text="${anEmployeeProjectCount.lastName}">
								<td th:text="${anEmployeeProjectCount.projectCount}">
							</tr>
						</tbody>	
					
					</table>
				</div>
			</div>
	</div>
			
			
</div>
<script type="text/javascript" th:src="@{js/myChart.js}"></script>

</body>