<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts :: header"></head>
	
	<body>
	<nav th:replace="layouts :: nav-bar"></nav>
	<div class="container">
		
		<h3>Create Project</h3>
			<hr>
			
		<form action="/projects/save" th:object="${project}" method="POST">
			
			<div class="form-group row">
				<input type="text" placeholder="Project Name" th:field="${project.name}" 
						class="mb-4 col-2 col-xs-4">
			</div>
			
			<div class="form-group row">
				<select class="form-control mb-4 col-2 col-xs-4" th:field="${project.state}">
				    <option th:value="NOTSTARTED">Not Started</option>
				    <option th:value="INPROGRESS">In Progress</option>
				    <option th:value="COMPLETED">Completed</option>
				</select>
			</div>
			
	      
	      	<div class="form-group row">
				<textarea type="text" placeholder="Enter Project Description" th:field="${project.description}" 
						class="mb-4 col-2 col-xs-4"></textarea>
			</div>
			
			<select class="mb-4 col-2 col-xs-4" th:field="*{employees}" multiple="multiple">
				<option th:each = "employee : ${allEmployees}"
						th:value = "${employee.employeeId}"
						th:text = "${employee.firstName}">
				</option>
			</select>

			<button type="submit" class="btn btn-info col-2" style="top:40px; left: -200px">Create Project</button>
			
		</form>
	</div>

</body>
	   
</html>